= form_for @customer, html:{class:'form-horizontal'} do |f|

  - if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    %label.col-lg-2.control-label{for: 'number_code'}
      = f.label 'Номер Авто'
    .col-lg-10
      = f.text_field :number_code, placeholder: 'Номер' , class:'form-control'
  .form-group
    %label.col-lg-2.control-label{for: 'name'}
      = f.label 'Имя Заказчика'
    .col-lg-10
      = f.text_field :name , placeholder: 'Имя' , class:'form-control'
  .form-group
    = f.submit 'Сохранить', class: 'btn btn-success'
    = link_to 'Назад', customers_path, class:'btn btn-warning'
