= form_for [@payment.customer, @payment], html:{class:'form-horizontal'} do |f|

  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.hidden_field :customer_id, value: @customer.id
    %label.col-lg-2.control-label{for: 'amount'}
      = f.label 'Сумма'
    .col-lg-10
      -if @customer.next_free?
        = f.number_field :amount, placeholder: 'Внесенная Сумма' , class:'form-control', value: 0, readonly: true
      -else
        = f.number_field :amount, placeholder: 'Внесенная Сумма' , class:'form-control',value: 0
      %span.help-block
        Записывать в формате: "600" = 6грн, "1550" = 15.50 грн
  .form-group
    %label.col-lg-2.control-label{for: 'description'}
      = f.label 'Описание Услуги'
    .col-lg-10
      = f.text_area :description , placeholder: 'Описание Услуги' , class:'form-control'
      %span.help-block
        Минимальная длинна 6, максимальная - 220 символов
  .form-group
    = f.submit 'Сохранить', class: 'btn btn-success'
    = link_to 'Назад', customer_payments_path, class:'btn btn-warning'
