-if @free
  .alert.alert-info.free-car-wash
    %button.close{type:'button', 'data-dismiss'=>'alert'}  ×
    =@free
%p#notice= notice

%p
  %b Customer:
  = @payment.customer_id
%p
  %b User:
  = @payment.user_id
%p
  %b Amount:
  = @payment.amount/100.00
%p
  %b Description:
  = @payment.description

= link_to 'Edit', edit_customer_payment_path(@payment.customer, @payment)
\|
= link_to 'Back', customer_payments_path(@payment.customer)
